
/* Henry Sutton = 103072963 */

.main {
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      text-align: center;
    margin-top: 0;
    height: 100vh;
  }
  
  #wel {
    font-size: 2rem; /* Adjust the font size as desired */
    margin-bottom: 0; /* Add some space below the heading */
    justify-content: center;
    text-align: center;
    margin-top: 0%;
    color: rgb(20, 44, 47);
  
  }
  
  p {
    font-size: 2em; /* Adjust the font size as desired */
    line-height: 1.5; /* Adjust the line height for readability */
    color:  rgb(140, 181, 186);
  }
 