



/* Common styles for both mobile and desktop */
.wrapper.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Background gradient */
  background: #134E5E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #71B280, #134E5E); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Center content vertically on mobile */
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.493); /* Background color with opacity */
  padding: 20px;
  box-shadow: 0 0 20px rgb(85, 79, 79); /* Box shadow */
  border-radius: 8px; /* Rounded corners */
}

/* Styles for left and right columns */
.col-left,
.col-right {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* Styles for text in the login section */
.login-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(6, 57, 72);
}

.login-text p {
  font-size: 16px;
  color: rgb(2, 74, 120);
  margin-bottom: 20px;
}

/* Styles for the login form section */
.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgb(6, 57, 72);
}

/* Styles for input groups and labels */
.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  color: rgb(38, 102, 142);
  margin-bottom: 8px;
}

/* Styles for input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styles for the submit button */
.btn-submit {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  /* Background gradient for the button */
  background: #134E5E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #71B280, #134E5E); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Styles for the forgot password link */


.forgot-password:hover {
  text-decoration: underline;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
      padding: 10px;
  }

  .col-left,
  .col-right {
      padding: 10px;
  }
}
